<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>无标题文档</title>
    <link rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/muke.css"/>
</head>

<body class="backg_huibai">

<!-- 顶部 -->
<div class="width100 float_l height490 img_backg1">
    <div class="width100 float_l height80 line_hei80">
        <!-- 顶部左边 -->
        <div class="float_l">
            <div class="float_l margin_l20">
                <img src="../../imgs/logo_ssl.jpg">
                <img src="../../imgs/logo_zyjy.jpg">
            </div>
            <div class="float_l">
                <ul class="ul_li fon_siz16">
                    <li><a>学习资源</a></li>
                    <li><a>在线课堂</a></li>
                    <li><a>智源教育</a></li>
                    <li><a>智源留学</a></li>
                </ul>
            </div>
        </div>

        <!-- 顶部右边 -->
        <div class="float_r">
            <div class="float_l top_input">
                <input class="posi_relative" type="text" name="" id="" placeholder="请输入想搜索的内容...">
                <img class="img_sousuo bianshou" src="../../imgs/uiz4.png">
            </div>
            <div class="float_l margin_l20">
                <img src="../imgs/uiz5.png">
            </div>
            <div class="float_l margin_l40">
                <img src="../imgs/uiz3.png">
            </div>
            <div class="float_l margin_l35">
                <a href="#"><span>登陆</span></a>
            </div>
            <div class="float_l margin_l30 margin_r40">
                <a href="#"><span>注册</span></a>
            </div>
        </div>
    </div>
</div>

<!-- 轮播图 -->
<div class="width100 float_l margin_t-405 margin_b40">
    <div class="width_1200 margin_auto">
        <div class="width100 float_l height460 posi_relative">
            <div class="width100 float_l">
                <div class="focusBox" ng-controller="cyclePicture">
                    <ul class="pic">
                        <li ng-repeat="pic in cyclePictures" on-finish-render-filters>
                            <a><img ng-src="{{pic.imgUrl}}"/></a>
                        </li>
                    </ul>
                    <a class="prev" href="javascript:void(0)"></a>
                    <a class="next" href="javascript:void(0)"></a>
                    <ul class="hd">
                        <li ng-repeat="pict in cyclePictures"></li>
                    </ul>
                </div>
            </div>

            <div class="width_224 float_l height460 posi_absolute backg_jqian padding_t0 bianshou" ng-controller="courseCategory">
                <div class="width100 float_l tab_qiehuan" ng-repeat="category in courseCategorys" on-finish-render-filters>
                    <div class="width100 float_l text_c height64 line_hei64 color_white bianhuabeijing backg_jqian padding_lr20">
                        <div class="width100 float_l text_l height64 line_hei64 color_white border_b_baise fon_siz16">
                            <a href="./course-list/course-list.html?categoryId={{category.id}}"><span ng-bind="category.categoryName"></span></a>
                            <span class="float_r">></span>
                        </div>
                    </div>
                    <div class="width_700 float_l lunbofenlei dis_none" ng-style="{'background-image':'url({{category.bgImgUrl}})'}">
                        <div class="width100 float_l padding40">
                            <div class="width100 float_l margin_b40">
                                <span class="width100 color_shenred fon_siz16 float_l margin_b20">分类目录</span>
                                <div ng-repeat="secondCategory in category.categories" style="margin-top:-15px;">
                                    <span class="b_weight_bold" ng-bind="secondCategory.categoryName"></span>
                                    <ul class="width100 ul_lis float_l">
                                        <li ng-repeat-start="thirdCategory in secondCategory.categories">|</li>
                                        <li ng-repeat-end="thirdCategory in secondCategory.categories"><a ng-bind="thirdCategory.categoryName"></a></li>
                                    </ul>
                                </div>
                            </div>

<!--                            <div class="width100 float_l margin_b40">
                                <span class="width100 color_shenred fon_siz16 float_l margin_b20">推荐</span>
                                <ul class="width100 ul_lis float_l">
                                    <li class="width100 float_l margin_b15"><a>课程 | ps入门教程Ⅱ-路径</a></li>
                                    <li class="width100 float_l margin_b15"><a>课程 | 手机UI设计基础-尺寸</a></li>
                                    <li class="width100 float_l margin_b15"><a>课程 | PS入门基础-魔幻调色</a></li>
                                </ul>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 学习资源 -->
<div class="width100 float_l margin_b40">
    <div class="width_1200 margin_auto">
        <div class="width100 float_l margin_b20">
            <div class="float_l">
                <span class="fon_siz16">学习资源</span>
            </div>
            <div class="float_r bianshou">
                <span>更多></span>
            </div>
        </div>
        <div class="width100 float_l" ng-controller="studyResources">
            <div class="index_resource_list" ng-class="{'index_resource_margin_right0':$index==2||$index==5,'index_resource_margin_top15':$index>2}" ng-repeat="category in categorys">
                <div class="index_resource_head">
                    <a class="more" href="#">更多</a>
                    <span><a href="#" ng-bind="category.categoryName"></a></span>
                </div>
                <div class="index_resource_body cf">
                    <div class="index_resource_img">
                        <a href="#"><img ng-src="{{category.imgUrl}}"></a>
                    </div>
                    <div class="index_resource_txt">
                        <ul>
                            <li ng-repeat="article in category.articles">
                                <span>
                                    <a href="#"></a>
                                </span>
                                <a href="#" ng-bind="article.title" title="{{article.title}}"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 在线课堂 -->
<div class="width100 float_l margin_b40">
    <div class="width_1200 margin_auto">

        <div class="width100 float_l margin_b20">
            <div class="float_l">
                <span class="fon_siz16">在线课堂</span>
            </div>
            <div class="float_r bianshou">
                <span>更多></span>
            </div>
        </div>

        <div class="width100 float_l" ng-controller="realWarCourse">
            <div class="width_224 height172 border_shadow float_l jingguoxianshi over_pos bianshou"
                 ng-class="{'margin_r20':!$last}" ng-repeat="course in reaWarCourse">
                <div class="width100 float_l img_100 z_inx_1">
                    <img src="../imgs/uiz7.jpg">
                </div>
                <div class="img_backg2 donghua">
                    <span class="margin_t15 float_l" ng-bind="course.title"></span>
                    <span class="float_l fon_siz12 line_hei16 color_gray margin_t5 posi_relative "
                          ng-bind="course.courseIntro"></span>
                </div>
                <div class="width100 float_l padding_lr20 height48 fon_siz12 line_hei48 z_inx_3 posi_relative backg_white">
                    <span class="float_l color_red" ng-bind="course.price"></span>
                    <span class="float_r color_gray"><span ng-bind="course.person"></span>人在学</span>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- 智源精品 -->
<div class="width100 float_l margin_b40">
    <div class="width_1200 margin_auto">

        <div class="width100 float_l margin_b20">
            <div class="float_l">
                <span class="fon_siz16">智源精品</span>
            </div>
            <div class="float_r bianshou">
                <span>更多></span>
            </div>
        </div>

        <div class="width100 float_l" ng-controller="freeWellCourse">
            <div class="width_224 height172 float_l border_shadow jingguoxianshi over_pos bianshou"
                 ng-class="{'margin_r20':!$last}" ng-repeat="course in freeWellCourses">
                <div class="width100 float_l img_100 z_inx_1">
                    <img src="../imgs/uiz7.jpg">
                </div>
                <div class="img_backg2 donghua">
                    <span class="margin_t15 float_l " ng-bind="course.title"></span>
                    <span class="float_l fon_siz12 line_hei16 color_gray margin_t5 posi_relative"
                          ng-bind="course.courseIntro"></span>
                </div>
                <div class="width100 float_l padding_lr20 height48 fon_siz12 line_hei48 z_inx_3 posi_relative backg_white">
                    <span class="float_l color_red" ng-bind="course.price"></span>
                    <span class="float_r color_gray"><span ng-bind="course.person"></span>人在学</span>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- 页脚 -->
<div class="width100 float_l padding_t30 height193">
    <div class="width_1200 margin_auto">
        <div class="width100 float_l text_c margin_b30">
            <a class="img_backg5" href="#"></a>
            <a class="img_backg6 posi_relative wexinmaxianshi" href="#"><i class="weixinweima dis_none"><img
                    src="../imgs/idx-btm.png"></i></a>
            <a class="img_backg7" href="#"></a>
            <a class="img_backg8" href="#"></a>
        </div>
        <div class="width100 float_l text_c yejiao color_gray">
            <a>关于我们</a>
            <a>企业合作</a>
            <a>人才招聘</a>
            <a>讲师招募</a>
            <a>联系我们</a>
            <a>意见反馈</a>
            <a>友情链接</a>
        </div>
        <div class="width100 float_l text_c border_t margin_t20 padding_t20 color_gray fon_siz12">
            <span>© 2016 imoroc.com  京ICP备13042132号</span>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="../node_modules/requirejs/require.js"></script>
<script type="text/javascript" src="../js/base.js"></script>
<script type="text/javascript" src="../js/index.js"></script>
</html>